@model HW6.Models.ViewModel.DetailViewModel

@{
    ViewBag.Title = "Detail";
}

<div class="row">
    <hr />
    <div class="col-lg-6">
        <div class="jumbotron">
            <h3>Stock Item</h3>
            <hr/>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                @if (Model.Size != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Size)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Size)
                    </dd>
                }
                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    $@Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Weight)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Weight)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LeadTimeDays)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LeadTimeDays) days
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ValidFrom)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ValidFrom)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Origin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Origin)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tags)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tags)
                </dd>
            </dl>
        </div>
        <div class="jumbotron">
            <h3>Supplier Profile</h3> <hr/>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Company)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Company)
                </dd>
                
                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Fax)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fax)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Website)
                </dt>

                <dd>
                    @Html.ActionLink(Model.Website, Model.Website)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Contact)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Contact)
                </dd>
            </dl>
        </div>
        <div class="jumbotron">
            <h3>Sales History Summary</h3> <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Orders)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Orders)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.GrossSales)
                </dt>

                <dd>
                    $@Html.DisplayFor(model => model.GrossSales)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GrossProfit)
                </dt>

                <dd>
                    $@Html.DisplayFor(model => model.GrossProfit)
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-lg-6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUg_gXYcuI3e6DwP3YIhtbNDY0Be6eoYky7kusak-ktWvPGr95&s" alt="Image Unavailable" class="img-thumbnail" />
    </div>
</div>